@font-face {
    font-family: 'Consolas-Font';
    src: url(fontes/Consolas-Font/Consolas.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Consolas';
    background-color: black;
}
header{
    margin-top: 2em;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
}
nav{
    border: 2px solid rgb(7, 7, 7);
    background-color: rgb(7, 7, 7);
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
header a{
    color: rgb(20, 186, 20);
}
a:hover{
    color: rgb(134, 255, 134);
}
section{
    color: white;
}
.form > form{
    background-color: #5d5b5b;
    padding: 3rem;
    border-radius: 2rem;
}
textarea{
    background-color: #5d5b5b;
    border: 1px solid white;
    margin-top: 1rem;
}
label, h3, textarea{
    background-color: #5d5b5b;
    margin-bottom: 1rem;
}
input{
    color: white;
    background-color: #5d5b5b;
    border: 2px solid #2e2e2e;
    padding: 0.5rem;
    width: 30rem;
    margin-bottom: 2rem;
}
button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 12rem;
}
.titles{
    margin-top: 13rem;
    margin-left: 3rem;
    width: 30rem;
}
footer{
    color: white;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 3rem;
}