@font-face {
    font-family: 'Consolas-Font';
    src: url(fontes/Consolas-Font/Consolas.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Consolas';
}

body{
    background-color: black;
    color:rgb(20, 186, 20);
    color:rgb(20, 186, 20);
}

ul li{
    display: inline-block;
    list-style-type: none;
}

nav{
    border: 2px solid rgb(7, 7, 7);
    background-color: rgb(7, 7, 7);
    padding: 2rem;
}
nav > ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: rgb(20, 186, 20);
}

a:hover{
    color: rgb(134, 255, 134);
}

h1{
    font-size: 1.6em;
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

p{
    margin-top: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

article ul li{
    color: rgb(20, 186, 20);
    display: block;
    margin-top: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
}