@font-face {
    font-family: 'Consolas-Font';
    src: url(fontes/Consolas-Font/Consolas.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Consolas';
}

body{
    background-color: black;
    color:rgb(20, 186, 20);
}

ul li{
    display: inline-block;
    list-style-type: none;
}

header{
    margin-top: 1em;
}

nav{
    border: 2px solid rgb(7, 7, 7);
    background-color: rgb(7, 7, 7);
    padding: 1rem;
    margin-bottom: 2rem;
}
ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: rgb(20, 186, 20);
}

a:hover{
    color: rgb(134, 255, 134);
}

h1{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2rem;
}

h1 a{
    color: rgb(20, 186, 20);
}

h2{
    font-size: 20px;
    padding-top: 2em;
}

h2.titulo{
    font-size: 2em;
    margin-left: 1em;
}

h3{
    font-size: 10px;
    text-align: center;
}

p{
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section{
    width: 25%;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 2em;
    background-color: #0f0f0f;
    text-align: center;
    padding: 0 1em;
    padding-top: 1em;
    padding-bottom: 4em;
    margin: 1em 2em;
    margin-top: 4em;
}

main section h2{
    font-size: 1.7em;
}

section.historia{
    border: none;
}

footer{
    font-size: 0.8em;
    margin-top: 4em;
}

main section:hover{
    background-color: #222222;
}