@font-face {
    font-family: 'Consolas-Font';
    src: url(fontes/Consolas-Font/Consolas.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Consolas';
    background-color: black;
}
header{
    margin-top: 2em;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
}
h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
h3{
    margin-top: 2rem;
}

nav{
    background-color: rgb(7, 7, 7);
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
header a{
    color: rgb(20, 186, 20);
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
figure{
    text-align: center;
    margin-bottom: 2rem;
}
section > figure img{
    width: 50%;
}
form > div{
    width: 25%;
}
a:hover{
    color: rgb(134, 255, 134);
}
section{
    color: white;
}
section > form > div > p{
    margin-bottom: 1.5rem;
}
div > img{
    text-align: center;
}
.resultados > h2{
    margin-top: 7rem;
}
footer{
    margin-top: 3rem;
    text-align: center;
    font-size: 0.6rem;
    color: white;
}